@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic%7cMontserrat:400,700%7cOxygen:400,300,700");
@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 1320px;
  margin: 20px auto;
  flex: 1;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  /* appearance: none; */
  padding-right: 10px; /* Опционально: чтобы текст не уходил под скрытые стрелки */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-inner-spin-button {
  -moz-appearance: none;
  display: none;
}
