.errorEmail{
    color: red;
    font-weight: 600;
    margin-left: 8px;
    font-size: 18px;
}

.successEmail{
    color: green;
    font-weight: 600;
    margin-left: 8px;
    font-size: 18px;

}

.labelEmail{
    margin-left: 8px;
}